<div class="container">
  <header>
    <img class="bg-auth" src="../../../assets/images/bg-auth.jpg" alt="bg-auth">
    <img class="logo" src="../../../assets/images/logo.png" alt="logo">
  </header>

  <div class="sub-container bg-white">
    <main>
      <h1 class="title text-2xl font-bold text-center">Reset Password</h1>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <input [ngClass]="formSubmitted && resetForm.controls.passwordResetEmail.invalid ? 'is-invalid':''" type="email"
          placeholder="Email" formControlName="passwordResetEmail">
        <button type="submit" class="btnSubmit">Send</button>
      </form>
    </main>

    <footer>
      <p class=" text-center">Go back to ? <a routerLink="/login">Log In</a></p>
    </footer>
  </div>
</div>
